.required:after {
     content:" *";
     color: red;
 }

#portada{
    background-color: #9fcdff;
}

#portada > p{
    height: 100%;
    width:100%;
    font-size: 100px;
    padding: 0px 0px 100px 50px;
}

.navbar{
    margin-top: -1em;
    background-color: #9fcde1;
}

#user{
    margin-bottom: 1px;
    margin-right: 10px;
}

.derecha{
    margin-right: 10px;
}

.dropdown-menu{
    background-color:#9fcde1;
    font-size: 20px;
}

.dropdown-item{
    color: white;
}

.dropdown-toggle{
    font-size: 20px;

}

body {
	color: #333;
	font-size: 1em;
}
a:link,
a:visited,
a:hover,
a:active {
	color: #000;
	text-decoration: none;
}
.container {
  margin: 50px auto;
  padding: 0 50px;
  max-width: 960px;
}
table { 
	background: #FFF;
	border-collapse: collapse;
	width: 100%;  
}
td,
th { 
	padding: 4px; 
	border: 1px solid #CCC;
	overflow: hidden;
	text-align: left;
	vertical-align: middle;
}
th { 
	background-color: #DDD; 
	font-weight: 400;
}
th a,
td a { 
	display: block;
	width: 100%;
}
th a.sort-by { 
	padding-right: 18px;
	position: relative;
}
a.sort-by:before,
a.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
a.sort-by:before {
	border-bottom-color: #666;
	margin-top: -9px;
}
a.sort-by:after {
	border-top-color: #666;
	margin-top: 1px;
}